.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin: 0 20px 12px;
  width: 190px;
  height: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 20px 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0 20px 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  align-items: center;
  margin-top: 114px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 20px;
  background-color: #fcf5e5;
  opacity: 70%;
  border-style: none;
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #fcf5e5;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-left: 0;
    margin: 20px 104px 12px;
  }

  .profile__column {
    align-items: center;
  }

  .profile__name {
    text-align: center;
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    text-align: center;
    margin: 0;
  }

  .profile__edit-btn {
    margin: 32px 90.33px 20px;
    padding: 0;
    background-color: #fcf5e5;
    opacity: 70%;
    border-style: none;
  }

  .profile__add-btn {
    margin: 0 auto;
    width: 100%;
  }
}
